div{
    background-color:white;
}
hr{
    border: dotted grey 6px;
    border-bottom:none;
    width:4%;
    margin:100px auto
}

h1
{
    /* margin: 0; */
    /* width: 10%;  */
    margin-top: 0 ;
    /* font-family: 'Anton', sans-serif; */
    font-weight: 900;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3.125em;
    color:#bedcfa;
    line-height: 2;



}
h2{
    color: red;
    font-weight: normal;
}
body
{
    margin:0;
    text-align: center;
    /* font-family:verdana, sans-serif; */
    font-family: 'Langar', cursive;


}
.top-container
{
    text-align: center;
    position :relative;
    padding-top: 20px;
    background-color: #eff8ff;
   

}
.middle-container
{
   margin:100px 0;

}
 
.last
{
    background-color: #66bfbf;
  /* ?  height: 200px; */
    /* width: 200px; */
padding:50px 0 20px;



}

.pro
{
text-decoration:underline ;
}
.bottom-cloud
{
    position: absolute;
    left: 250px;
    bottom: 200px;

}
.top-cloud
{

    position : absolute;
    right: 300px;
    top: 80px;
}
p{
    /* font-size: 2rem; */
}
.size
{
    font-size : 2rem;

}
h3{
    color:11999E;

}
a{
    color:#11999E;
    margin:0px 20px; 
    text-decoration: none;
}
a:hover{

    color:#eaf6f6;

}
.wait
{
    /* font-weight: normal; */
}
.skill-row
{
    width:50%;
    /* align-content: center; */
    /* text-align: center;*/
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.computer-programmer
{
    width:25%;
    float:left;
    margin-right:30px;
}
.web-development
{

    width:25%;
    float:right;
    margin-left: 30px;
}
.comp-pro-desc
{
   


}
.web-dev-desc
{
   
}
.ajaysir
{
    width:30%;
    margin:auto;
}
.contact-messege
{
    width:40%;
    margin:40px auto;
}

.btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #2a73a1);
        background-image: -moz-linear-gradient(top, #11cdd4, #2a73a1);
        background-image: -ms-linear-gradient(top, #11cdd4, #2a73a1);
        background-image: -o-linear-gradient(top, #11cdd4, #2a73a1);
        background-image: linear-gradient(to bottom, #11cdd4, #2a73a1);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 19px;
        padding: 10px 20px 10px 20px;
        border: solid #11cdd4 2px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #2673a3;
        background-image: -webkit-linear-gradient(top, #2673a3, #1b76b3);
        background-image: -moz-linear-gradient(top, #2673a3, #1b76b3);
        background-image: -ms-linear-gradient(top, #2673a3, #1b76b3);
        background-image: -o-linear-gradient(top, #2673a3, #1b76b3);
        background-image: linear-gradient(to bottom, #2673a3, #1b76b3);
        text-decoration: none;
      }
.copyright
{
    color:#eaf6f6;
    padding:20px;
    font-size:0.75em;
}